Repository LSSTDESC/descqa, pull requests merged in 2018-02, with the labels that each got.

#78 add "inspect" test result
  .travis.yml
  descqa/CorrelationsTwoPoint.py
  descqa/NumberDensityVersusRedshift.py
  descqa/StellarMassFunction.py
  descqa/base.py
  descqa/basic_test.py
  descqa/clf_test.py
  descqa/configs/ListQuantities_Ranges.yaml
  descqa/configs/SMF_PRIMUS.yaml
  descqa/configs/readiness_protoDC2.yaml
  descqa/configs/tpcf_Wang2013_rSDSS.yaml
  descqa/configs/tpcf_Zehavi2011_rSDSS.yaml
  descqa/version.py
  descqarun/__init__.py
  descqarun/master.py
  descqaweb/__init__.py
  descqaweb/interface.py
  descqaweb/matrix.py
  web-static/style.css
Labels: enhancement, execution script, validation test, web interface

#84 new output directory structure and search function
  .travis.yml
  descqarun/__init__.py
  descqarun/archiver.py
  descqarun/master.py
  descqaweb/__init__.py
  descqaweb/bigtable.py
  descqaweb/config.py
  descqaweb/interface.py
  descqaweb/main.py
  descqaweb/matrix.py
  descqaweb/templates/bigtable.html
Labels: execution script, web interface

#83 adjust column width in matrix view
  descqaweb/matrix.py
  web-static/style.css
Labels: web interface

#54 shear test
  .travis.yml
  descqa/configs/shear.yaml
  descqa/shear_test.py
  setup.py
Labels: validation test

#56 Size luminosity test
  descqa/SizeStellarMassLuminosity.py
  descqa/configs/size_Mandelbaum2014_BD.yaml
  descqa/configs/size_vanderWel2014_SM_Lum.yaml
  descqa/data/size/Mandelbaum2014_LumF814W_size.txt
  descqa/data/size/Mandelbaum2014_LumF814W_size_bulge_disk.txt
  descqa/data/size/van_der_Wel_2014_ApJ_788_28_Table5_StellarMass.txt
  descqa/data/size/van_der_Wel_2014_ApJ_788_28_Table5_VLuminosity.txt
Labels: validation test

#80 Size distribution validation test
  descqa/SizeDistribution.py
  descqa/configs/size_dist_COSMOS.yaml
  descqa/data/size_dist/COSMOS_Great3_sample_size_distribution.txt
Labels: validation test

#81 Ellipticity
  descqa/EllipticityDistribution.py
  descqa/configs/ellipticity_dist.yaml
  descqa/configs/ellipticity_dist_COSMOS.yaml
  descqa/data/ellipticity/COSMOS/joachimi_et_al_2013/alllrg_mag24.dat
  descqa/data/ellipticity/COSMOS/joachimi_et_al_2013/histo_disk_mag24_V17-21.dat
  descqa/data/ellipticity/COSMOS/joachimi_et_al_2013/histo_early_mag24_V17-21.dat
  descqa/data/ellipticity/COSMOS/joachimi_et_al_2013/histo_irr_mag24_V17-21.dat
  descqa/data/ellipticity/COSMOS/joachimi_et_al_2013/histo_late_mag24_V17-21.dat
Labels: validation test

#82 Galaxy position angle test
  descqa/PositionAngle.py
  descqa/configs/position_angle.yaml
Labels: validation test
